$colour-black: black;
$colour-grey: grey;

$colour-red: red;
$colour-orange: orange;
$colour-yellow: yellow;


.colour-black {
  color: $colour-black;
}
.colour-grey {
  color: $colour-grey;
}
.colour-red {
  color: $colour-red;
}
.colour-orange {
  color: $colour-orange;
}
.colour-yellow {
  color: $colour-yellow;
}